@import '../../scss/color';

.footer{
    background-color: $color-primary;
    text-align: center;
    padding: 20px 0;
    color: $color-light;
    p{
        span{
            font-weight: bold;
        }
    }
    a{
        color: $color-light;
        transition: 0.2s;
        &:hover{
            color:$color-active;
        }
    }
}